<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <div class="alert alert-info" role="alert" style="text-align: center">
    <h1>Nuevo usuario</h1>
  </div>
  <div class="body">
    <style>
      .body {
        display: flex;
        justify-content: center;
        padding: 10px;
      }
      .content-form-user {
        background-color: #bccad6;
        padding: 10px;
        border-radius: 5px;
      }
      .custom-btn-submit {
        display: flex;
        justify-content: center;
        padding-top: 10px;
      }
      .section-btn-selection {
        display: flex;
        justify-content: space-between;
      }
    </style>
    <div>
      <p style="color: red"><%= message %></p>
    </div>
    <div class="content-form-user">
      <form action="/new_user" method="post">
        <div>
          <div>
            <div>
              <label for="servers" class="form-label"
                >Seleciona un servidor:
              </label>
            </div>
            <div>
              <select
                id="servers"
                name="server"
                class="btn btn-outline-primary dropdown-toggle btn-sm"
              >
                <% servers.forEach(server=> { %>
                <option value="<%= server.name %>" class="dropdown-item">
                  <%= server.name %>
                </option>
                <% }); %>
              </select>
            </div>
          </div>
          <div>
            <div>
              <label for="profiles" class="form-label"
                >Selecciona un perfil:</label
              >
            </div>
            <div>
              <select
                id="profiles"
                name="profile"
                class="btn btn-outline-primary dropdown-toggle btn-sm"
              >
                <% profiles.forEach(profile=> { %>
                <option value="<%= profile.name %>" class="dropdown-item">
                  <%= profile.name %>
                </option>
                <% }); %>
              </select>
            </div>
          </div>
        </div>

        <div>
          <label for="name" class="form-label">Nombre: </label>
          <input
            type="text"
            name="name"
            id="name"
            required
            class="form-control"
          />
        </div>
        <div>
          <label for="user" class="form-label">Usuario:</label>
          <input
            type="text"
            name="user"
            id="user"
            required
            class="form-control"
          />
        </div>
        <div>
          <label for="password" class="form-label">clave:</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            class="form-control"
          />
        </div>
        <div class="custom-btn-submit">
          <button type="submit" class="btn btn-primary">guardar</button>
        </div>
      </form>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
