 <%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <form action="/new_user" method="post">
      <div>
        <h3>
          Crea nuevo usuario
        </h3>
      </div>
      <div>
        <p style="color: red"><%= message %></p>
      </div>
      <div class="mb-3 mt-3">

        <div>
          <div>
            <label for="servers" class="form-label"
              >Servidor</label
            >
          </div>
          <select
            id="servers"
            name="server"
            class="btn btn-outline-secondary dropdown-toggle btn-sm"
          >
            <% servers.forEach(server=> { %>
            <option value="<%= server.name %>" class="dropdown-item">
              <%= server.name %>
            </option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <div>
          <div>
            <label for="profiles" class="form-label"
              >perfil</label
            >
          </div>
          <select
            id="profiles"
            name="profile"
            class="btn btn-outline-secondary dropdown-toggle btn-sm"
          >
            <% profiles.forEach(profile=> { %>
            <option value="<%= profile.name %>" class="dropdown-item">
              <%= profile.name %>
            </option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="email" placeholder="Ingrese nombre" name="name">
      </div>
      <div class="mb-3 mt-3">
        <label for="user" class="form-label">Usuario</label>
        <input type="user" class="form-control" id="user" placeholder="Ingrese usuario" name="user">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Clave</label>
        <input type="password" class="form-control" id="password" placeholder="Ingrese clave" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
  <%- include('partials/footer') %>
</body>
