<%- include('partials/head') %>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<script>
  function togglePassword(id) {
    const passwordField = document.getElementById(id);
    const icon = document.getElementById("icon-" + id);
    if (passwordField.type === "password") {
      passwordField.type = "text";
      icon.classList.remove("fa-eye");
      icon.classList.add("fa-eye-slash");
    } else {
      passwordField.type = "password";
      icon.classList.remove("fa-eye-slash");
      icon.classList.add("fa-eye");
    }
  }
</script>

<body>
  <%- include('partials/header') %>
  <div class="container" style="border-radius: 5px">
    <div class="row">
      <div class="col-12">
        <h3>Lista de usuarios</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Usuario</th>
                <th scope="col">Clave</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <% let count = 0; users.forEach( user => { count = count + 1; %>
              <tr>
                <th scope="row"><%= count %></th>
                <td><%= user.comment %></td>
                <td><%= user.name %></td>
                <td>
                  <input
                    type="password"
                    id="password-<%= count %>"
                    value="<%= user.password %>"
                    class="form-control"
                    disabled
                  />
                </td>
                <td>
                  <div class="d-flex bd-highlight ml-3">
                    <form
                      action="/users"
                      method="post"
                    >
                      <input
                        type="hidden"
                        id="data"
                        name="userId"
                        value="<%=user.id%>"
                      />
                      <input
                        type="submit"
                        value="Borrar"
                        class="btn btn-danger btn-sm"
                      />
                    </form>
                      <button
                        class="btn btn-primary btn-sm ms-3"
                        onclick="togglePassword('password-<%= count %>')"
                      >
                        <i id="icon-password-<%= count %>" class="fas fa-eye"></i>
                      </button>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
