

<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <div class="container" style="border-radius: 5px;"> 
    <h1 style="text-align: center;">lista de usuarios</h1>
  <table class="table table-striped">
    <tr class="table-primary">
      <th>Nombre</th>
      <th>Usuario</th>
      <th>Clave</th>
      <th>Opciones</th>
    </tr>
    <% users.forEach( user => {%>
    <tr>
      <td class="table-primary"><%= user.comment %></td>
      <td class="table-primary"><%= user.name %></td>
      <td class="table-primary"><%= user.password %></td>
      <td class="table-primary">
        <form action="/users" method="post">
            <input type="hidden" id="data" name="userId" value="<%=user.id%>">
            <input type="submit" value="Eliminar" class="btn btn-danger"/>
        </form>
      </td>
    </tr>
    <% }); %>
  </table>
  </div>
</body>
